.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
*.iml
.idea/
.vscode/
**/Generated.xcconfig
**/Flutter.podspec
**/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
**/google-services.json
**/GoogleService-Info.plist
*.log
